* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Ubuntu Mono", monospace;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.wrap {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.content {
  width: 47%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 30px;
}

.content h2 {
  text-transform: capitalize;
  font-size: 35px;
}

.content p {
  line-height: 2;
  font-size: 12px;
}

.bgblue {
  background-color: #37a0f3;
}

.bgfooter {
  background-color: #414a4f;
}

.bgthirdsec {
  background-color: #f7f7f7;
}

.w-text {
  color: #f7f7f7;
}

hr {
  background-color: #37a0f3;
  border: 1px solid #37a0f3;
  width: 200px;
}

/* --------------------------------------------- */

/* hero section */
.hero {
  background: linear-gradient(rgba(63, 63, 63, 0.7), rgba(63, 63, 63, 0.7)),
    url(./images/hero.jpg);
  background-position: top right;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.nav {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 25px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.navbar ul li:not(:last-child) {
  margin-right: 30px;
}

.navbar a {
  color: #f3f3f3;
  text-decoration: none;
}

/* ---------------------------------- */

/* hero section */
.hero {
  background: linear-gradient(rgba(63, 63, 63, 0.7), rgba(63, 63, 63, 0.7)),
    url(./images/hero.jpg);
  background-position: top right;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.nav {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 25px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.navbar ul li:not(:last-child) {
  margin-right: 30px;
}

.navbar a {
  color: #f3f3f3;
  text-decoration: none;
}

/* ---------------------------------- */

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.heading h1 {
  text-transform: capitalize;
  margin-bottom: 20px;
  font-size: 45px;
}

.heading p {
  font-size: 20px;
  margin-bottom: 35px;
}

.heading button {
  border: 1px solid transparent;
  color: #f7f7f7;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  width: 15%;
}

.heading button:hover {
  border: 1px solid #fff;
  background-color: transparent;
}
/*!!! hero section */

/* grid section */
.grid {
  display: flex;
  height: 160px;
  width: 95%;
}

.first {
  margin-top: 100px;
  margin-bottom: 20px;
}
.grid .child {
  flex-basis: 40%;
}
.grid .child1 {
  flex-basis: 60%;
}

.grid img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.coast {
  margin-right: 20px;
}

.baloon {
  margin-right: 20px;
}

/*!!! grid section */

/* section 3 */
.grid2 {
  display: flex;
  margin-top: 60px;
}
.grid2 .child {
  flex-basis: 33.333%;
  text-align: center;
}

.grid2 h3 {
  text-transform: capitalize;
}

.grid2 i {
  color: #37a0f3;
  font-size: 40px;
  margin-bottom: 20px;
}
.grid2 .content {
  width: 95%;
}

.grid2 .child:not(:last-child) {
  margin-right: 40px;
}

/*!!! section 3 */

/* section 4 */
.signup {
  margin-top: 60px;
  width: 46%;
  margin-right: auto;
  margin-left: auto;
}

.signup form {
  display: flex;
  justify-content: center;
}

.signup input {
  margin-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  flex-basis: 70%;
}

.signup button {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 0;
  padding-right: 0;
  background-color: #37a0f3;
  color: white;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  flex-basis: 30%;
  cursor: pointer;
  border: 1px solid transparent;
}

.signup button:hover {
  border: 1px solid #37a0f3;
  background-color: transparent;
  color: #37a0f3;
}
/*!!! section 4 */
