
.bgi{
    background-image:linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.4)), url("../../public/images/raw/Girls-Listen-Music_0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   height: 265px;
   border-bottom: 6px solid aqua;
}

a{
    color: white!important;
    text-decoration: none!important;

    &:hover{
        color: white!important;
    }
}

h1{
    margin: 0;
    margin-bottom: 0!important;
}

.position-absolute{
    bottom: 0px;
    left: 0px;
    padding: 6px 15px;
    background-color: rgb(22, 151, 231);
    color: white;
}

.bga{
    background-color: lightgray;
}